<div class="profil">


    <div class="user">
        <pre>

    Imię :      {{ user[0].name }}   
    Nazwisko :  {{ user[0].surname }}
    Login :     {{ user[0].login }}
    Mail :      {{ user[0].mail }}    
    
    </pre>
        <!-- <div class="picture">
            <img src="./../../assets/user-avatar.png"  width="150px" height="150px" class="fa fa-align-center" > 
        </div> -->

    </div>

    <!-- <div clas="btn-group-lg">

        <button type="button" class="btn btn-default">Edytuj</button>
        <button type="button" class="btn btn-default">Usuń profil</button>
    </div> -->
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button class="btn btn-default btn-mg "  [routerLink]="['/changepassword']" type="button">Zmień Hasło </button>


</div>