<div class="content">

  <pre>
<p>Oceny zdobyte w poprzednich testach</p>
    <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
            <td><b>Przedmiot</b></td>
            <td><b>Ocena</b></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let position of rating">
              <td>
{{position.nameS}}
              </td>
              <td>
{{position.rating}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

<!-- <p>Dostępne testy do wykonania</p>
      <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>                
                  <td><b>Przedmiot</b></td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let position of testList">
                <td>
{{position.nameS}}
                </td>
              </tr>
            </tbody>
          </table>
        </div> -->
  </pre> 
</div> 