<div class="subject">



  <h1>
    {{name}}
   
  </h1>

  
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>

          <td><b>Test</b></td>
          <td><b>Ocena</b></td>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let test of tests">
          <td (click)="onSelectSubject($event, test)">
            {{test.testName}}

          </td>

          <td>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div *ngIf="name; else elseBlock">
    <div *ngFor="let student of myClass">
      {{myClass.nameS}}
    </div>
    <p>Opuść Klasę:<button class="btn btn-default btn-lg " type="button">Usuń </button></p>
    

  </div>
  <ng-template #elseBlock>
    <p>Dodaj się do klasy: <button class="btn btn-default btn-lg " type="button">Dodaj </button></p>
  </ng-template>
  `
</div>